SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=exam.kooky-shop.com,127.0.0.1,localhost

USE_MYSQL=True
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=exam_system
DB_USER=peyo
DB_PASSWORD=your-db-password
